* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

body {
  background: #e4e4e4;
  overflow: hidden;
}

.board {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.board {
  opacity: 1;
}

.cards {
  pointer-events: all;
  flex-grow: 1;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 5;
  position: relative;
}

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  pointer-events:all;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  display: flex;
  flex-flow: column;
}

.moving.card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.card img {
  order: 1;
  max-width: 100%;
}

.card h3 {
  order: 2;
  font-size: 32px;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.card .textContainer
{
  order: 3;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.card p {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.resources {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.resource {
  position: relative;
  margin: 35px;
  z-index: 1;
  overflow: hidden;
}

.resource-image {
  width: 50px;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
  z-index: 2;
}


.progress-bar-image {
  width: 50px;
}

.selection-dot {
  position: absolute;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  width: 420px;
  height: 120px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.left-dot {
  left: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.right-dot {
  right: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dot-text {
  font-size: 25px;
  font-weight: normal;
}
