* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

body {
  background: #e4e4e4;
  overflow: hidden;
}

.board {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.loaded.board {
  opacity: 1;
}

.cards {
  pointer-events:all;
  flex-grow: 1;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  pointer-events:all;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  display: flex;
  flex-flow: column;
}

.moving.card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.card img {
  order: 1;
  max-width: 100%;
}

.card h3 {
  order: 2;
  font-size: 32px;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.card .textContainer
{
  order: 3;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.card p {
  width: 100%;
  font-size: 20px;
  text-align: center;
}